<template>

  <div>

    <Navbar />

    <Carousel />

    <Nosotros />

    <Que_hacemos />

    <Proceso />

    <Porque />

    <Servicios />

    <Clientes />

    <Contacto />

    <Footer />
  </div>

</template>

<script>
import Navbar from "../components/Navbar.vue";
import Carousel from "../components/Carousel.vue"
import Porque from "../components/Porque.vue"
import Servicios from "../components/Servicios.vue"
import Nosotros from "../components/Nosotros.vue";
import Proceso from "../components/Proceso.vue";
import Que_hacemos from "../components/Que_hacemos.vue";
import Contacto from "../components/Contacto.vue";
import Footer from "../components/Footer.vue";
import Clientes from "../components/Clientes.vue";

export default {

  head: {
    title: 'Home page',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Home page description'
      }
    ],
  },


  components: { Navbar, Carousel, Porque, Servicios, Nosotros, Proceso, Que_hacemos, Contacto, Footer, Clientes }
}
</script>

<style>
html {
  scroll-behavior: smooth;

}

body {
  font-family: 'Poppins', sans-serif;
  background: #e6e6e6
}

a {
  transition: all .25s ease-out;
  color: inherit;
  text-decoration: none
}

a:hover {
  text-decoration: none;
  color: inherit;
  opacity: 0.8
}

.desktop {
  display: block
}

.mobile {
  display: none
}


@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1320px;
  }

}

@media (min-width: 1380px) {}


@media (max-width:1500px) {}

@media (max-width:1400px) {}

@media (max-width:991px) {}

@media (max-width:767px) {
  #carrusel_ppal .txt h2 {
    font-size: 24px;
    line-height: 35px;
  }

  #carrusel_ppal .txt p {
    font-size: 14px
  }

  #carrusel_ppal .txt a {
    font-size: 12px;
  }

  #nosotros h2,
  #que_hacemos h2,
  #proceso h2,
  #porque h2,
  #servicios h3.tit,
  #contacto h2 {
    font-size: 24px
  }


  #nosotros p {
    font-size: 14px
  }


  #que_hacemos .mod_que .img {
    padding: 35px 0 15px;
  }

  #porque ul li {
    font-size: 16px;
    padding: 0 0 0 35px;
    background: url(../img/ico-li2.svg) left 6px no-repeat;
    background-size: 24px;
  }


  #servicios .accordion-item .accordion-button {
    font-size: 18px
  }

  #servicios .accordion-body ul li {
    font-size: 14px
  }


  .col-form-label.text-end {
    text-align: left !important
  }

  .text-end.mt-5 {
    text-align: center !important
  }

}
</style>





