<template>
    <div v-if="error">
        {{ error }}
    </div>
    <div v-else id="carousel">
        <b-carousel v-for="carousel in carousels" :key="section" id="carousel-1" v-model="slide" :interval="4000"
            controls indicators background="#ababab" img-width="1024" img-height="480"
            style="text-shadow: 1px 1px 2px #333;" @sliding-start="onSlideStart" @sliding-end="onSlideEnd">
            <b-carousel-slide img-src="../img/slide-1.jpg">
                <div class="txt">
                    <div class="vert1">
                        <div class="vert2">
                            <div class="container">
                                <p>{{ carousel.attributes.title }}</p>
                                <h2>{{ carousel.attributes.subTitle }}</h2>
                                <a href="#">{{ carousel.attributes.button }}</a>
                            </div>
                        </div>
                    </div>
                </div>


            </b-carousel-slide>

            <b-carousel-slide img-src="../img/slide-2.jpg">
                <div class="txt">
                    <div class="vert1">
                        <div class="vert2">
                            <div class="container">
                                <p>{{ carousel.attributes.title }}</p>
                                <h2>{{ carousel.attributes.subTitle }}</h2>
                                <a href="#">{{ carousel.attributes.button }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </b-carousel-slide>
        </b-carousel>


    </div>
</template>
<script>
export default {
    name: "Carousel",
    data() {
        return {
            slide: 0,
            sliding: null,
            interval: 2,
        };
    },
    methods: {
        onSlideStart(slide) {
            this.sliding = true;
        },
        onSlideEnd(slide) {
            this.sliding = false;
        }
    },

    data() {
        return {
            carousels: [],
            error: null,
            headers: { "Content-Type": "application/json" },
        };
    },

    methods: {
        parseJSON: function (resp) {
            return resp.json ? resp.json() : resp;
        },
        checkStatus: function (resp) {
            if (resp.status >= 200 && resp.status < 300) {
                return resp;
            }
            return this.parseJSON(resp).then((resp) => {
                throw resp;
            });
        },
    },
    async mounted() {
        try {
            const response = await fetch("https://strapi-app-ntztr.ondigitalocean.app/api/carousels", {
                method: "GET",
                headers: this.headers,
            })
                .then(this.checkStatus)
                .then(this.parseJSON);
            this.carousels = response.data;
        } catch (error) {
            this.error = error;
        }
    },

    head() {
        return {
            meta: [
                {
                    hid: 'Somos Digitaltex',
                    name: 'Somos Digitaltex',
                    content: 'Automatizamos tu negocio de manera inteligente.'
                }
            ]
        }
    }
}
</script>
<style>
.vert1 {
    display: table;
    height: 100%;
    width: 100%;
    padding: 15px 0 10px 0;
}

.vert2 {
    display: table-cell;
    vertical-align: middle;
}

.txt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 0;
    color: #fff;
}

.txt p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.txt h2 {
    font-size: 43px;
    line-height: 45px;
    font-weight: 700;
    max-width: 610px;
    margin: 0 0 30px
}

.txt a {
    display: inline-block;
    border: solid 2px #fff;
    padding: 8px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 700
}

.carousel-caption {
    position: initial;
    text-align: inherit;
    padding-top: 0;
    padding-bottom: 0;

}
</style>
