<template >
  <div v-if="error">
    {{ error }}
  </div>
  <div v-else id="clientes">
    <div id="CLIENTES" class="container">
      <h4><span>06</span> Clientes</h4>
      <div class="row">
        <div v-for="section6 in section6s" :key="section6">
          <div class="col text-center"><img :src="section6.attributes.url_image" width="206" height="91" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Clientes",
  data() {
    return {
      section6s: [],
      error: null,
      headers: { "Content-Type": "application/json" },
    };
  },

  methods: {
    parseJSON: function (resp) {
      return resp.json ? resp.json() : resp;
    },
    checkStatus: function (resp) {
      if (resp.status >= 200 && resp.status < 300) {
        return resp;
      }
      return this.parseJSON(resp).then((resp) => {
        throw resp;
      });
    },
  },
  async mounted() {
    try {
      const response = await fetch("https://strapi-app-ntztr.ondigitalocean.app/api/section6s", {
        method: "GET",
        headers: this.headers,
      })
        .then(this.checkStatus)
        .then(this.parseJSON);
      this.section6s = response.data;
    } catch (error) {
      this.error = error;
    }
  },

  head() {
    return {
      meta: [
        {
          hid: 'Clientes',
          name: 'Clientes',
          content: 'BCI seguros, corona, CORFO, Gas Valpo, Grant Thornton, Colmena, Cox & Compañia'
        }
      ]
    }
  }

}
</script>

<style >
#clientes {
  padding: 80px 0
}

#clientes h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 40px 0
}

#clientes h4 span {
  background: url("../img/barra-gris.png") right center no-repeat;
  padding: 0 60px 0 0;
  display: inline-block;
  margin: 0 10px 0 0;
}

#clientes h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  max-width: 790px;
  margin: 0 0 60px
}

#clientes img {
  margin: 15px
}
</style>