<template >
    <div v-if="error">
        {{ error }}
    </div>
    <div v-else id="contacto">
        <div v-for="section7 in section7s" :key="index" class="container">
            <div>
                <h4><span>07</span>{{ section7.attributes.title }}</h4>
                <h2>{{ section7.attributes.subTitle }}</h2>
            </div>
            <div class="row">
                <div class="col-md-3"></div>

                <!-- <div>
                    <div v-if="success" class="rounded bg-indigo-500 text-white text-lg p-4">
                        Great! Your message has been sent successfully. I will try to respond
                        quickly.
                    </div>
                    <form v-else v-on:submit.prevent="sendMessage" class="grid grid-cols-1 gap-y-6">
                        <div v-if="errored" class="rounded bg-red-200 text-lg p-4">
                            Bummer, Something went wrong. Did you fill out all of the fields?
                        </div>
                        <div>
                            <label for="full_name" class="sr-only">Full name*</label>
                            <div class="relative rounded-md shadow-sm">
                                <input v-model="name" required name="name" id="full_name"
                                    class="form-input block w-full py-3 px-4 placeholder-gray-500 transition ease-in-out duration-150"
                                    placeholder="Full name*" />
                            </div>
                        </div>
                        <div>
                            <label for="email" class="sr-only">Email*</label>
                            <div class="relative rounded-md shadow-sm">
                                <input required v-model="email" name="email" id="email" type="email"
                                    class="form-input block w-full py-3 px-4 placeholder-gray-500 transition ease-in-out duration-150"
                                    placeholder="Email*" />
                            </div>
                        </div>
                        <div>
                            <label for="phone" class="sr-only">Phone</label>
                            <div class="relative rounded-md shadow-sm">
                                <input v-model="phone" name="phone" id="phone"
                                    class="form-input block w-full py-3 px-4 placeholder-gray-500 transition ease-in-out duration-150"
                                    placeholder="Phone" />
                            </div>
                        </div>
                        <div>
                            <label for="message" class="sr-only">Message</label>
                            <div class="relative rounded-md shadow-sm">
                                <textarea required v-model="message" name="message" id="message" rows="4"
                                    class="form-input block w-full py-3 px-4 placeholder-gray-500 transition ease-in-out duration-150"
                                    placeholder="Message*"></textarea>
                            </div>
                        </div>
                        <div class="">
                            <span class="inline-flex rounded-md shadow-sm">
                                <button type="submit"
                                    class="inline-flex justify-center py-3 px-6 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                                    {{ loading ? "Sending Message..." : "Submit" }}
                                </button>
                            </span>
                        </div>
                    </form>
                </div> -->



                <div class="col-md-7">
                    <form>
                        <div class="mb-3 row">
                            <label for="inputNombre" class="col-sm-2 col-form-label text-end">Nombre</label>
                            <div class="col-sm-10">
                                <input v-model="name" type="text" class="form-control" id="inputNombre">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="Email" class="col-sm-2 col-form-label text-end">Mail</label>
                            <div class="col-sm-10">
                                <input v-model="email" type="text" class="form-control" id="Email">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputMensaje" class="col-sm-2 col-form-label text-end">Mensaje</label>
                            <div class="col-sm-10">
                                <textarea v-model="message" class="form-control" id="Mensaje" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="text-end mt-5">
                            <button v-on:click="getMessage()" type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>

                <!-- <p>NAME: {{ name }}</p>
                <p>EMAIL: {{ email }}</p>
                <p>mesagge: {{ message }}</p> -->

                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "Contacto",
    data() {
        return {
            section7s: [],
            error: null,
            headers: { "Content-Type": "application/json" },
            name: '',
            email: '',
            message: '',

        };
    },

    methods: {
        parseJSON: function (resp) {
            return resp.json ? resp.json() : resp;
        },
        checkStatus: function (resp) {
            if (resp.status >= 200 && resp.status < 300) {
                return resp;
            }
            return this.parseJSON(resp).then((resp) => {
                throw resp;
            });
        },



    },


    async mounted() {
        try {
            const response = await fetch("https://strapi-app-ntztr.ondigitalocean.app/api/section7s", {
                method: "GET",
                headers: this.headers,
            })
                .then(this.checkStatus)
                .then(this.parseJSON);
            this.section7s = response.data;
        } catch (error) {
            this.error = error;
        }
    },

    head() {
        return {
            title: 'Digitaltex',
            meta: [
                {
                    hid: 'Automatiza tu negocio de forma inteligente hoy mismo',
                    name: 'Automatiza tu negocio de forma inteligente hoy mismo',
                }
            ]
        }
    }

}
</script>
<style >
#contacto {
    background: #2b8ae6;
    padding: 80px 0;
    color: #fff;
}

#contacto h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 40px 0
}

#contacto h4 span {
    background: url("../img/barra-blanca.png") right center no-repeat;
    padding: 0 60px 0 0;
    display: inline-block;
    margin: 0 10px 0 0;
}

#contacto h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    max-width: 790px;
    margin: 0 0 60px
}

#contacto .btn {
    background: none;
    border-radius: 0px;
    border: solid 1px #fff;
    padding: 10px 30px;
    font-size: 13px;
    font-weight: 300;
}

#contacto .form-control {
    border-radius: 0px;
}
</style>