<template>
    <div v-if="error">
        {{ error }}
    </div>
    <div v-else id="footer" class="d-flex">
        <div class="container">
            <div class="row">
                <div class="col-md-3"><img src="../img/logo.png" width="175" height="39" alt="" /></div>
                <div v-for="text in texts" :key="text" class="col-md-3">
                    <h3>{{ text.attributes.title }}</h3>
                    <p>{{ text.attributes.text }}<br>
                        {{ text.attributes.text2 }}</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "Footer",
    data() {
        return {
            texts: [],
            error: null,
            headers: { "Content-Type": "application/json" },
        };
    },

    methods: {
        parseJSON: function (resp) {
            return resp.json ? resp.json() : resp;
        },
        checkStatus: function (resp) {
            if (resp.status >= 200 && resp.status < 300) {
                return resp;
            }
            return this.parseJSON(resp).then((resp) => {
                throw resp;
            });
        },
    },
    async mounted() {
        try {
            const response = await fetch("https://strapi-app-ntztr.ondigitalocean.app/api/footer-texts", {
                method: "GET",
                headers: this.headers,
            })
                .then(this.checkStatus)
                .then(this.parseJSON);
            this.texts = response.data;
        } catch (error) {
            this.error = error;
        }
    },
}
</script>
<style>
#footer {
    background: #2d2d2d;
    color: #fff;
    padding: 80px 0
}

#footer a {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}

#footer h3 {
    font-size: 14px;
    font-weight: 500
}
</style>