<template>
  <div v-if="error">
    {{ error }}
  </div>
  <div v-else id="top">
    <div class="container">
      <b-navbar class="navbar navbar-expand-lg navbar-dark" toggleable="lg">
        <b-navbar-brand><a class="navbar-brand" href="#"><img src="../img/logo.png" width="175" height="39"
              alt="" /></a></b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item v-for="button in buttons" :key="button" v-bind:href="'#' + button.attributes.href">
              {{
                  button.attributes.button
              }}

            </b-nav-item>

          </b-navbar-nav>


        </b-collapse>
      </b-navbar>
    </div>
  </div>
</template>
<script>
export default {
  name: "Navbar",
  data() {
    return {
      buttons: [],
      error: null,
      headers: { "Content-Type": "application/json" },
    };
  },

  methods: {
    parseJSON: function (resp) {
      return resp.json ? resp.json() : resp;
    },
    checkStatus: function (resp) {
      if (resp.status >= 200 && resp.status < 300) {
        return resp;
      }
      return this.parseJSON(resp).then((resp) => {
        throw resp;
      });
    },
  },
  async mounted() {
    try {
      const response = await fetch("https://strapi-app-ntztr.ondigitalocean.app/api/navbar-buttons", {
        method: "GET",
        headers: this.headers,
      })
        .then(this.checkStatus)
        .then(this.parseJSON);
      this.buttons = response.data;
    } catch (error) {
      this.error = error;
    }
  },

  head() {
    return {
      title: 'Digitaltex',
      meta: [
        {
          hid: 'hid del meta',
          name: 'nombre del meta',
          content: 'descripcion del meta'
        }
      ]
    }
  }

}
</script>


<style>
#top {
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  background: rgba(8, 8, 8, 0.8)
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
}

.nav-link,
.nav-link:hover {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 0px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  flex: 1 0 auto;
}
</style>