<template >
  <div v-if="error">
    {{ error }}
  </div>
  <div v-else id="nosotros">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="vert1">
            <div v-for="section in sections" :key="section" class="vert2">
              <h4><span>01</span> {{ section.attributes.title }} </h4>
              <h2>{{ section.attributes.subTitle }}</h2>
              <p>{{ section.attributes.paragraph }} </p>
            </div>
          </div>
        </div>
        <div v-for="section in sections" :key="section" class="col-md-6 text-center"><img
            :src="section.attributes.img_url" class="img-fluid" alt="" /></div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Nosotros",
  data() {
    return {
      sections: [],
      error: null,
      headers: { "Content-Type": "application/json" },
    };
  },

  methods: {
    parseJSON: function (resp) {
      return resp.json ? resp.json() : resp;
    },
    checkStatus: function (resp) {
      if (resp.status >= 200 && resp.status < 300) {
        return resp;
      }
      return this.parseJSON(resp).then((resp) => {
        throw resp;
      });
    },
  },
  async mounted() {
    try {
      const response = await fetch("https://strapi-app-ntztr.ondigitalocean.app/api/sections", {
        method: "GET",
        headers: this.headers,
      })
        .then(this.checkStatus)
        .then(this.parseJSON);
      this.sections = response.data;
    } catch (error) {
      this.error = error;
    }
  },

  head() {
    return {
      meta: [
        {
          hid: 'Estamos creando el futuro del trabajo',
          name: 'Estamos creando el futuro del trabajo',
          content: 'Desde el 2020 estamos innovando constantemente para crear experiencias que mejoren y perfeccionen la forma en la que trabaja tu empresa.'
        }
      ]
    }
  }

}
</script>
<style >
a {
  transition: all .25s ease-out;
  color: inherit;
  text-decoration: none
}

a:hover {
  text-decoration: none;
  color: inherit;
  opacity: 0.8
}


#nosotros {
  padding: 80px 0
}

#nosotros h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 40px 0
}

#nosotros h4 span {
  background: url("../img/barra-gris.png") right center no-repeat;
  padding: 0 60px 0 0;
  display: inline-block;
  margin: 0 10px 0 0;
}

#nosotros h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  max-width: 790px;
  margin: 0 0 60px
}
</style>