<template >
    <div v-if="error">
        {{ error }}
    </div>
    <div v-else id="porque">
        <div v-for="section in section4s" :key="section" class="container">
            <h4><span>04</span> {{ section.attributes.title }}</h4>
            <div class="row">
                <div class="col-md-5"><img :src="section.attributes.img_url" class="img-fluid" alt="" /></div>
                <div class="col-md-7">
                    <div class="vert1">
                        <div class="vert2">
                            <h2>{{ section.attributes.subTitle }}</h2>
                            <ul>
                                <li>{{ section.attributes.list }}</li>
                                <li>{{ section.attributes.list2 }}</li>
                                <li>{{ section.attributes.list3 }}</li>
                                <li>{{ section.attributes.list4 }}</li>
                                <li>{{ section.attributes.list5 }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "Porque",
    data() {
        return {
            section4s: [],
            error: null,
            headers: { "Content-Type": "application/json" },
        };
    },

    methods: {
        parseJSON: function (resp) {
            return resp.json ? resp.json() : resp;
        },
        checkStatus: function (resp) {
            if (resp.status >= 200 && resp.status < 300) {
                return resp;
            }
            return this.parseJSON(resp).then((resp) => {
                throw resp;
            });
        },
    },
    async mounted() {
        try {
            const response = await fetch("https://strapi-app-ntztr.ondigitalocean.app/api/section4s", {
                method: "GET",
                headers: this.headers,
            })
                .then(this.checkStatus)
                .then(this.parseJSON);
            this.section4s = response.data;
        } catch (error) {
            this.error = error;
        }
    },

    head() {
        return {
            meta: [
                {
                    hid: 'Tu empresa puede ser más productiva hoy',
                    name: 'Tu empresa puede ser más productiva hoy',
                    content: 'Obtén una rápida implementación, Genera resultados instantáneos, Minimiza el tiempo de trabajo, Agiliza los procesos y tareas rutinarias, Ahorro de costos'
                }
            ]
        }
    }
}
</script>
<style >
#porque {
    padding: 80px 0;
    background: #2b8ae6;
    color: #fff;
}

#porque h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 40px 0
}

#porque h4 span {
    background: url("../img/barra-blanca.png") right center no-repeat;
    padding: 0 60px 0 0;
    display: inline-block;
    margin: 0 10px 0 0;
}

#porque h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    max-width: 790px;
    margin: 0 0 60px
}

#porque ul {
    margin: 0;
    padding: 0;
    list-style: none
}

#porque ul li {
    background: url("../img/ico-li2.svg") left 4px no-repeat;
    padding: 0 0 0 45px;
    background-size: 34px;
    margin: 0 0 10px 0;
    list-style: none;
    font-size: 22px;
    line-height: 38px;
    font-weight: 700;
}
</style>