<template >
    <div v-if="error">
        {{ error }}
    </div>
    <div v-else id="proceso">
        <div v-for="section in section3s" :key="section" class="container">
            <h4><span>03</span> {{ section.attributes.title }}</h4>
            <h2>{{ section.attributes.subTitle }}</h2>
            <div class="text-center"><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#cuadro"><img
                        :src="section.attributes.img_url" class="img-fluid" alt="" /></a></div>
        </div>
    </div>
</template>
<script>
export default {
    name: "Proceso",
    data() {
        return {
            section3s: [],
            error: null,
            headers: { "Content-Type": "application/json" },
        };
    },

    methods: {
        parseJSON: function (resp) {
            return resp.json ? resp.json() : resp;
        },
        checkStatus: function (resp) {
            if (resp.status >= 200 && resp.status < 300) {
                return resp;
            }
            return this.parseJSON(resp).then((resp) => {
                throw resp;
            });
        },
    },
    async mounted() {
        try {
            const response = await fetch("https://strapi-app-ntztr.ondigitalocean.app/api/section3s", {
                method: "GET",
                headers: this.headers,
            })
                .then(this.checkStatus)
                .then(this.parseJSON);
            this.section3s = response.data;
        } catch (error) {
            this.error = error;
        }
    },

    head() {
        return {
            meta: [
                {
                    hid: 'Proceso DigitalTex',
                    name: 'Proceso DigitalTex',
                    content: 'Mediante nuestro sistema Digifast, extraemos la información de tus documentos mediante la aplicación de lA y RPA.'
                }
            ]
        }
    }

}
</script>
<style>
#proceso {
    padding: 80px 0
}

#proceso h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 40px 0
}

#proceso h4 span {
    background: url("../img/barra-gris.png") right center no-repeat;
    padding: 0 60px 0 0;
    display: inline-block;
    margin: 0 10px 0 0;
}

#proceso h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    max-width: 790px;
    margin: 0 0 60px
}

#porque {
    padding: 80px 0;
    background: #2b8ae6;
    color: #fff;
}
</style>