<template >
    <div v-if="error">
        {{ error }}
    </div>
    <div v-else id="que_hacemos">
        <div class="container">
            <div v-for="section in section2s" :key="section" class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <h4><span>02</span>{{ section.attributes.title }}</h4>
                </div>
                <div class="col-md-6"><img :src="section.attributes.img_url" class="img-fluid" alt="" /></div>
                <div class="col-md-6">

                    <h2>{{ section.attributes.subTitle }}</h2>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mod_que">
                                    <div class="img"><img src="../img/robotizacion.svg" alt="" /></div>
                                    <div class="text">
                                        <h4>Robotización de procesos</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mod_que">
                                    <div class="img"><img src="../img/inteligencia.svg" alt="" /></div>
                                    <div class="text">
                                        <h4>Extracción de información con Inteligencia Artificial</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mod_que">
                                    <div class="img"><img src="../img/workflows.svg" alt="" /></div>
                                    <div class="text">
                                        <h4>Workflows</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mod_que">
                                    <div class="img"><img src="../img/innovacion.svg" alt="" /></div>
                                    <div class="text">
                                        <h4>Workshop de Innovación con Design Thinking</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="ver">Ver Casos</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5"><img src="../img/notebook.png" class="img-fluid" alt="" /></div>
                <div class="col-md-5"><img src="../img/papeles.png" class="img-fluid" alt="" /></div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "Que_hacemos",
    data() {
        return {
            section2s: [],
            error: null,
            headers: { "Content-Type": "application/json" },
        };
    },

    methods: {
        parseJSON: function (resp) {
            return resp.json ? resp.json() : resp;
        },
        checkStatus: function (resp) {
            if (resp.status >= 200 && resp.status < 300) {
                return resp;
            }
            return this.parseJSON(resp).then((resp) => {
                throw resp;
            });
        },
    },
    async mounted() {
        try {
            const response = await fetch("https://strapi-app-ntztr.ondigitalocean.app/api/section2s", {
                method: "GET",
                headers: this.headers,
            })
                .then(this.checkStatus)
                .then(this.parseJSON);
            this.section2s = response.data;
        } catch (error) {
            this.error = error;
        }
    },

    head() {
        return {
            meta: [
                {
                    hid: 'Qué hacemos',
                    name: 'Qué hacemos',
                    content: 'Simplificamos tareas tediosas procesando documentos y automatizando tus procesos.'
                }
            ]
        }
    }

}
</script>
<style >
#que_hacemos {
    padding: 80px 0
}

#que_hacemos h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 40px 0
}

#que_hacemos h4 span {
    background: url("../img/barra-gris.png") right center no-repeat;
    padding: 0 60px 0 0;
    display: inline-block;
    margin: 0 10px 0 0;
}

#que_hacemos h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    max-width: 790px;
    margin: 0 0 60px
}

#que_hacemos .mod_que {
    background: #27ad47;
    transition: all .25s ease-out;
    min-height: 240px;
    margin: 15px 10px;
    border-radius: 20px;
}

#que_hacemos .mod_que:hover {
    background: #2b8ae6;
}

#que_hacemos .mod_que .img {
    text-align: center;
    margin: 0 0 10px;
    padding: 15px 0
}

#que_hacemos .mod_que .img img {
    max-height: 76px
}

#que_hacemos .mod_que .text {
    text-align: center;
    color: #fff;
    padding: 0 15px;
}

#que_hacemos .mod_que .text h4 {
    font-size: 19px;
    line-height: 27px;
    font-weight: 700;
}

#que_hacemos .ver {
    display: block;
    margin: 40px auto 80px;
    max-width: 150px;
    color: #fff;
    background: #2d2d2d;
    line-height: 50px;
    text-align: center
}
</style>