<template >
    <div v-if="error">
        {{ error }}
    </div>
    <div v-else id="servicios" class="accordion" role="tablist">
        <div class="container">
            <h4 class="tit"><span>05</span> Servicios</h4>
            <h3 class="tit">Mira algunos de nuestros casos de éxito</h3>
            <div class="accordion" id="accordionServicios">
                <div class="accordion-item">

                    <h2 class="accordion-header">
                        <b-button class="accordion-button" block v-b-toggle.accordion-1>Recursos Humanos
                        </b-button>
                    </h2>

                    <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
                        <b-card-body class="accordion-body">
                            <ul>
                                <li>Reconocimiento de documentos y extracción de datos:</li>
                                <li>Contratos, anexos, liquidaciones de sueldos, honorarios y finiquitos, etc.</li>
                            </ul>
                        </b-card-body>
                    </b-collapse>
                </div>

                <div class="accordion-item">

                    <h2 class="accordion-header">
                        <b-button class="accordion-button" block v-b-toggle.accordion-2>Finanzas
                        </b-button>
                    </h2>

                    <b-collapse id="accordion-2" visible accordion="my-accordion" role="tabpanel">
                        <b-card-body class="accordion-body">
                            <ul>
                                <li>Automatizamos la gestión del Sistema Acuse de Recibo de Facturas en el SII
                                    (Aceptación o Rechazo).</li>
                                <li>Automatización y contabilización de facturas, boletas de honorarios y conciliaciones
                                    bancarias.</li>
                                <li>Extraemos información desde documentos y verificamos las condiciones contractuales
                                    de los acuerdos con proveedores y/o clientes.</li>
                            </ul>
                        </b-card-body>
                    </b-collapse>
                </div>

                <div class="accordion-item">

                    <h2 class="accordion-header">
                        <b-button class="accordion-button" block v-b-toggle.accordion-3>Riesgos
                        </b-button>
                    </h2>

                    <b-collapse id="accordion-3" visible accordion="my-accordion" role="tabpanel">
                        <b-card-body class="accordion-body">
                            <ul>
                                <li>Extraemos y automatizamos la información de Carpetas Tributarias, F29, F22, entre
                                    otros documentos.</li>
                                <li>Alimentamos sistemas de calificación de riesgos y cargamos su data en otros
                                    softwares.</li>
                            </ul>
                        </b-card-body>
                    </b-collapse>
                </div>

                <div class="accordion-item">

                    <h2 class="accordion-header">
                        <b-button class="accordion-button" block v-b-toggle.accordion-4>Salud
                        </b-button>
                    </h2>

                    <b-collapse id="accordion-4" visible accordion="my-accordion" role="tabpanel">
                        <b-card-body class="accordion-body">
                            <ul>
                                <li>Extraemos y automatizamos grandes volúmenes de datos desde distintos tipos de
                                    documentos físicos.</li>
                                <li>Procesamos reembolsos médicos, programas médicos y automatización de proceso para
                                    pagar subsidios por licencias médicas o accidentes laborales.</li>
                            </ul>
                        </b-card-body>
                    </b-collapse>
                </div>

                <div class="accordion-item">

                    <h2 class="accordion-header">
                        <b-button class="accordion-button" block v-b-toggle.accordion-5>Legal
                        </b-button>
                    </h2>

                    <b-collapse id="accordion-5" visible accordion="my-accordion" role="tabpanel">
                        <b-card-body class="accordion-body">
                            <ul>
                                <li>Extraemos, procesamos y automatizamos la información de los procesos de cobranzas
                                    ejecutivas y todos los escritos físicos.</li>
                                <li>Analizamos estudios de títulos, cuyas lecturas de información e informes se realizan
                                    por parte de una persona.</li>
                            </ul>
                        </b-card-body>
                    </b-collapse>
                </div>

            </div>
        </div>
    </div>

</template>
<script>
export default {
    name: "Servicios",
    data() {
        return {
            accordions: [],
            error: null,
            headers: { "Content-Type": "application/json" },
        };
    },

    methods: {
        parseJSON: function (resp) {
            return resp.json ? resp.json() : resp;
        },
        checkStatus: function (resp) {
            if (resp.status >= 200 && resp.status < 300) {
                return resp;
            }
            return this.parseJSON(resp).then((resp) => {
                throw resp;
            });
        },
    },
    async mounted() {
        try {
            const response = await fetch("https://strapi-app-ntztr.ondigitalocean.app/api/accordions", {
                method: "GET",
                headers: this.headers,
            })
                .then(this.checkStatus)
                .then(this.parseJSON);
            this.accordions = response.data
        } catch (error) {
            this.error = error;
        }
    },

    head() {
        return {
            meta: [
                {
                    hid: 'Nuestros casos de éxito',
                    name: 'Nuestros casos de éxito',

                }
            ]
        }
    }

}
</script>
<style>
#servicios {
    padding: 80px 0
}

#servicios h4.tit {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 40px 0
}

#servicios h4.tit span {
    background: url("../img/barra-gris.png") right center no-repeat;
    padding: 0 60px 0 0;
    display: inline-block;
    margin: 0 10px 0 0;
}

#servicios h3.tit {
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    max-width: 790px;
    margin: 0 0 60px
}


#servicios #accordionServicios {
    max-width: 990px;
    margin: 0 auto;
}

#servicios .accordion-item {
    background-color: transparent;
    border: none;
    margin: 0 0 20px
}

#servicios .accordion-header {
    border-radius: calc(52px / 2)
}

#servicios .accordion-button::after {
    background-image: url("../img/clientes/arrow.svg");
    background-position-y: 5px;
}

#servicios .accordion-item .accordion-button {
    border-radius: calc(52px / 2);
    background: #27ad47;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
}

#servicios .accordion-item:first-of-type .accordion-button {
    border-radius: calc(52px / 2);
    background: #27ad47;
}


#servicios .accordion-body ul {
    padding: 0;
    margin: 0;
    list-style: none
}

#servicios .accordion-body ul li {
    margin: 0;
    padding: 0 0 0 25px;
    list-style: none;
    background: url("../img/ico-li.svg") left 4px no-repeat;
    background-size: 20px;
    font-size: 17px;
    line-height: 28px;
    max-width: 680px
}

.accordion-button {
    display: flex;
    padding: 13px;
}
</style>